body {
  font-family: helvetica, sans-serif;
  background-color: #444;
  color: #fff;
  margin-bottom: 60px;
  font-size: 20px;
}

footer {
  margin-top: 60px;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 60px;
}

h2 {
  text-align: center;
  background-color: #555;
  padding: 20px;
  color: #fff;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  clear: right; /* clear the floated meteorite png */
}

h5 {
  font-size: 20px;
  margin: 20px 0 20px 0;
}

ol {
  list-style-type: disc;
}

ul {
  list-style-type: decimal;
}

.wrapper {
  display: flex; /* make the wrapper (div) a flexbox */
  flex-wrap: wrap; /* alow content to wrap to next line */
}

.wrapper > div {
  flex: 200px; /* set size of content box to 200px */
}

.introimg {
  display: block;
  margin: auto;
}

.center {
  margin: 0 auto;
  display: block;
}

.caption {
  text-align: center;
  margin-top: 20px;
  font-size: 1.4em;
  clear: right;
}

.grid1 {
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columns, each with an equal fraction */
  grid-gap: 30px; /* gap between rows */
}
